<% @cart.orderables.each do |orderable| %>
  <% game = orderable.game %>
  <div class="row-md-4 mb-3 game-row"> <!-- Adjust the column size based on your layout -->
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-4">
          <%= image_tag(game.cover_image(200, 200), class: "card-img") %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><b>Name:</b> <%= game.name %></h5>
            <p class="card-text"><%= game.developer %></p>
            <p class="card-text"><%= game.price_for_one %></p>
            <div class="cart-buttons">
              <div class="cart-update">
                <%= form_with(url: cart_add_path) do |f| %>
                  <%= f.hidden_field :id, value: game.id %>
                  <%= f.number_field :quantity, value: orderable.quantity, min: 0, class: "mb-10" %>
                  <%= f.submit "Update", class: "btn btn-primary btn-block mb-2" %>
                <% end %>
              </div>
              <div class="cart-delete">
                <%= form_with(url: cart_remove_path) do |f| %>
                  <%= f.hidden_field :id, value: orderable.id %>
                  <%= f.submit "X", class: "btn btn-danger btn-block" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
