<div class="card mb-4">
  <div class="card-body">
    <h3 class="card-title mb-4">Completed Orders</h3>
    <% if @orders.any? %>
      <% @orders.each do |order| %>
        <div class="mb-4">
          <div class="row">
            <div class="col-md-3">
              <strong><%= order.created_at.strftime('%d %B %Y') %></strong>
            </div>
            <div class="col-md-6">
              <ul class="list-unstyled">
                <% order.games.each do |game| %>
                  <li class="d-flex align-items-center mb-2">
                    <%= link_to game_path(game) do %>
                      <%= image_tag(game.cover_image(100, 100), class: "mr-2") %>
                    <% end %>
                    <span><%= game.name %></span>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="col-md-3">
              <strong>Total Price: <%= order.total_price %></strong>
            </div>
          </div>
          <div class="divider"></div>
        </div>
      <% end %>
    <% else %>
      <p class="text-muted">You have no completed orders.</p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <div class="pagination">
      <%= paginate @orders %>
    </div>
  </div>
</div>
